Babel==2.13.1
beautifulsoup4==4.12.3
Brotli==1.1.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
click==8.1.7
colorama==0.4.6
cssselect2==0.7.0
fonttools==4.50.0
ghp-import==2.1.0
html5lib==1.1
idna==3.4
mkdocs
mkdocs-material
mkdocs-with-pdf
